*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  transition: linear 0.5s;
}
body{
  background-color: #282c34;
}
#root{
  width:100%;
  *max-width: 900px;
  margin: 0 auto;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.App-header h1{
  font-size: 2.4rem !important;
  color: #EFF2C0;
  padding:30px 15px;
}
.App-header #date{
  padding:1% 0;
}
#content-title{
  padding:1% 15px;
}
#content-title h2{
  font-size: 2.3rem !important;
  color: #EFF2C0;
}
#content-media{
  padding:1% 15px;
}
#content-media img{
  max-width: 100%;
  height: auto;
}
#content-copyright{
  padding:0.50% 15px;
}
#content-copyright p{
  color: #BEA57D;
  font-size: 0.7rem !important;
}
#content-description{
  padding:0.75% 15px;
}
#content-description p{
  color: #A4BAB7;
  font-size: 0.9rem !important;
  letter-spacing: 0.1rem !important;
}